<!DOCTYPE html>
<html>
	<head>
		<title>Main</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

		<link rel="stylesheet" href="./../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<script src="./../static/jquery-3.3.1/jquery-3.3.1.min.js"></script>
		<script src="./../static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					 aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="./main.html">Sheep Mall</small></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="./main.html">首页 <span class="sr-only">(current)</span></a></li>
						<li><a href="./showGoods.html">商品</a></li>
						<li><a href="./showFabric.html">fabric</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心
								<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">个人资料</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="./../index.html">退出登录</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>


		<div class="bs-docs-section" style="margin-left: 10px;margin-right: 10px;">
			<h1 id="jumbotron" class="page-header">简介</h1>

			<p>这是一个fabric-sdk-java 1.1 的应用，主要用于实现商品溯源。</p>
			<div class="bs-example" data-example-id="simple-jumbotron">
				<div class="jumbotron">
					<h1>Hello, Hyperledger!</h1>
					<p>This is a fabric- SDK - Java 1.1 application, mainly used to achieve the process of commodity traceability.</p>
					<p><a class="btn btn-primary btn-lg" href="https://github.com/hyperledger" role="button">Learn more</a></p>
				</div>
			</div>
		</div>
		
		<p style="margin-top: 8%;float: right; margin-right: 10px;">Copyright © Nott. All Rights Reserved.nottwang@foxmail.com 版权所有</p>

	</body>
</html>
