<!DOCTYPE html>
<html lang="zh-CN" xmlns:v-on="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	th:remove="tag">
	<head>
		<title>用户</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		
		<script th:src="@{/jquery-3.3.1/jquery-3.3.1.min.js}" type="text/javascript"></script>
		<script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}" type="text/javascript"></script>
		
		<link rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/css/showGoods.css}" type="text/css" />
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					 aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/main}">Sheep Mall</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/main}">首页 <span class="sr-only">(current)</span></a></li>
						<li><a th:href="@{/showGoods}">商品</a></li>
						<li th:if="${usertype gt 1}"><a th:href="@{/showFabric}">fabric</a></li>
						<li th:if="${usertype gt 1}"><a th:href="@{/userlist}">用户</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" 
							role="button" aria-haspopup="true" aria-expanded="false">
								<span th:text="${user.name}"></span>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/personal}">个人信息</a></li>
								<li role="separator" class="divider"></li>
								<li><a th:href="@{/logout}">退出登录</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->

			</div><!-- /.container-fluid -->
		</nav>
		<div class="container-fluid">

			<div class="row title">
				<div class="col-xs-2">
					<span class="title_word">用户一览</span>
				</div>
				<div class="col-xs-7">
				</div>
				<div class="col-xs-1">
				</div>
				<div class="col-xs-1" style="text-align: left;">
					<button class="btn btn-default" onclick="javascript:history.back(-1);">返回</button>
				</div>
				<div class="col-xs-1">
				</div>
			</div>

			<div class="row goodsList" data-example-id="striped-table">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="col-xs-2">#</th>
							<th class="col-xs-2">用户名</th>
							<th class="col-xs-2">注册时间</th>
							<th class="col-xs-2">权限等级</th>
							<th class="col-xs-2">注册编号</th>
							<th class="col-xs-2">#</th>
						</tr>
					</thead>
					<tbody>
						<div th:if="${usersInfo != null}" th:each="user,start : ${usersInfo}">
							<tr>
								<th class="col-xs-2" th:text="${start.count}">num</th>
								<td class="col-xs-2" th:text="${user.name}">name</td>
								<td class="col-xs-2" th:text="${user.createDate}">Create Date</td>
								<td class="col-xs-2" th:text="${user.level}">level</td>
								<td class="col-xs-2" th:text="${user.sort}">No.</td>
								<td class="col-xs-2">
									<button th:if="${user.name != 'admin'}" type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#detailModal" th:onclick="'javascript: detail(\'' + ${user.name} + '\',\'' + ${user.level} + '\',\'' + ${user.password} + '\')'">
										设置权限
									</button>
									<button th:if="${usertype gt 2 && user.name != 'admin'}" class="btn btn-sm btn-danger" th:onclick="'javascript: deleteUser(\'' + ${user.name} + '\')'">删除</button>
								</td>
							</tr>
						</div>
					</tbody>
				</table>
			</div><!-- /example -->

			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-4">
					共<span th:text="${total}"></span>个商品
					&nbsp;&nbsp;
					当前第<span th:text="${pageNum}"></span>页
					&nbsp;&nbsp;
					每页5个
					&nbsp;&nbsp;
					<button type="button" class="btn btn-primary prev_btn">上一页</button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-primary next_btn">下一页</button>
				</div>
				<div class="col-xs-4"></div>
			</div>

		</div>

		<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">权限设置</h4>
					</div>
					<!-- <div class="modal-body"> -->
						<form class="row" style="text-align:center;">
							<div class="col-xs-12" style="margin-top:20px;margin-bottom:20px;">
								<label>Level</label>
								<input type="text" id="newlevel" name="newlevel" placeholder="LEVEL">
							</div>
							<div class="col-xs-3" style="margin-top:20px;margin-bottom:20px;">
								<label>查看权限：</label>
								<span style="width:50px;" th:text="${queryLevel}"></span>
							</div>
							<div class="col-xs-3" style="margin-top:20px;margin-bottom:20px;">
								<label>添加权限：</label>
								<span style="width:50px;" th:text="${addLevel}"></span>
							</div>
							<div class="col-xs-3" style="margin-top:20px;margin-bottom:20px;">
								<label>修改权限：</label>
								<span style="width:50px;" th:text="${modifyLevel}"></span>
							</div>
							<div th:if="${usertype gt 2}" class="col-xs-3" style="margin-top:20px;margin-bottom:20px;">
								<label>删除权限：</label>
								<span style="width:50px;" th:text="${deleteLevel}"></span>
							</div>
							<div th:if="${usertype gt 2}" class="col-xs-3" style="margin-top:20px;margin-bottom:20px;">
								<label>管理员权限：</label>
								<span style="width:50px;" th:text="${managerLevel}"></span>
							</div>
							<div th:if="${usertype gt 2}" class="col-xs-3" style="margin-top:20px;margin-bottom:20px;">
								<label>用户名：</label>
								<span id="username" style="width:50px;"></span>
							</div>
							<div th:if="${usertype gt 2}" class="col-xs-3" style="margin-top:20px;margin-bottom:20px;">
								<label>密码：</label>
								<span id="userpwd" style="width:50px;"></span>
							</div>
						</form>
					<!-- </div> -->
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary user_modify_confirm">确定</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>
	
	<script th:inline="javascript">
		$(document).ready(function(){
			var pageNum = [[${pageNum}]];
			var pageSize = [[${pageSize}]];
			var total = [[${total}]];
			var message = [[${message}]];
			var code = [[${code}]];
			if(message) {
				if(code != "200"){				
					alert(message);
				}
			}else{
				alert("Java内部应用错误");
			}
			
			$(".prev_btn").click(function(){
				if (pageNum > 1) {
					var newPageNum = pageNum - 1;
					window.location.href="/user/findByPage?pageNum="+newPageNum+"&pageSize="+pageSize;
				}
			});
			$(".next_btn").click(function(){
				totalPage = Math.ceil(total/pageSize);
				if(pageNum < totalPage){
					var newPageNum = pageNum + 1;
					window.location.href="/user/findByPage?pageNum="+newPageNum+"&pageSize="+pageSize;
				}
			});
		});
		var name = "";
		function detail(_name, _level, _password) {
			$("#newlevel").val(_level);
			name = _name;
			$("#username").text(_name);
			$("#userpwd").text(_password);
		}
		
		$(".user_modify_confirm").click(function(){
			var level = $("#newlevel").val();
			if(!level){
				alert("参数不能为空！")
			}
			$.ajax({
			   type:"post",
		       dataType:"json",
		       url:"/user/setUserLevel",
		       data:{
		    	   name: name,
		    	   level: level
		       },
		       success:function (data) {
		    	   if(data.result) {
		    		   alert(data.message);
		    		   setTimeout(function() {
		    			   window.location.href="/userlist";
		    	    	}, 1000);
		    	   } else if (data.code == "406") {
		    		   alert(data.message);
		    		   setTimeout(function() {
		    			   window.location.replace="/index";
		    	    	}, 500);
		    	   } else {
		    		   alert(data.message);
		    	   }
		       },
		       error:function(data){
		   			alert("Connecte timeout"); 
		       }
		   });
		});
		
		function deleteUser(_name){
			$.ajax({
				type:"post",
		       dataType:"json",
		       url:"/user/deleteUser",
		       data:{
		    	   name: _name
		       },
		       success:function (data) {
		    	   if(data.result) {
		    		   alert(data.message);
		    		   setTimeout(function() {
		    			   window.location.href="/userlist";
		    	    	}, 1000);
		    	   } else if (data.code == "406") {
		    		   alert(data.message);
		    		   setTimeout(function() {
		    			   window.location.replace="/index";
		    	    	}, 500);
		    	   } else {
		    		   alert(data.message);
		    	   }
		       },
		       error:function(data){
		   			alert("Connecte timeout"); 
		       }
		   });
		}
		
	</script>
	
</html>
