<!DOCTYPE html>
<html>
	<head>
		<title>INDEX</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<script src="static/jquery-3.3.1/jquery-3.3.1.min.js"></script>
		<script src="static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="static/bootstrap-3.3.7-dist/css/bootstrap-grid.min.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>
		<div class="container-fluid main_view">
			<div class="entrance">
				<button class="btn btn-lg btn-success enter">进入系统</button>
			</div>
		</div>
	</body>
	
	<script>
		$(document).ready(function(){
			
			$(".enter").click(function(){
				window.location.href="./views/main.html";
			});
			
		});
	</script>
</html>
